// Define color variables
$primary-color: #579dff;
$primary-hover-color: #85B8FF;
$secondary-color: #22272B;
$text-color: #B6C2CF;
$text-subtle-color: #9FADBC;
$ghost-color: #ffffff3d;
$ghost-hover-color: #A6C5E229;
$navbar-bg-color: #1D2125;
$bg-dark-color: #101204;

// Global styles and resets
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li, form, label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

ol, ul, li {
    list-style: none;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.button {
    all: unset;
    box-sizing: border-box;

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    color: $text-subtle-color;
    background: transparent;

    border-radius: 4px;
    padding: 6px 12px;

    cursor: pointer;
    transition: 300ms ease;

    &--primary {
        color: $secondary-color;
        background-color: $primary-color;

        &:hover {
            background-color: $primary-hover-color;
        }
    }

    &--dull {
        width: 100%;
        border-radius: 8px;
        transition: none;

        &:hover {
            background-color: #282F28;
        }
    }

    &--ghost {
        color: white;
        background-color: $ghost-color;

        border-radius: 12px;
        padding: 12px;

        width: 275px;

        &:hover {
            background-color: $ghost-hover-color;
        }
    }

    &--cancel:hover {
        background-color: $ghost-hover-color;
    }
}

.input {
    all: unset;
    box-sizing: border-box;

    font-weight: 600;

    color: $text-color;
    background: transparent;

    border-radius: 4px;
    padding: 6px 12px;

    resize: none;
    width: 100%;
    height: 32px;

    overflow: hidden;
    overflow-wrap: break-word;

    &--card {
        background-color: $secondary-color;
        border-radius: 8px;
        height: 74px;
    }

    &--column {
        &:hover {
            background-color: #282E33;
            box-shadow: inset 0 0 0 2px #ACC5E229;
        }

        &:focus {
            background-color: transparent;
            box-shadow: inset 0 0 0 2px $primary-color;
        }
    }

    &--modal-title {
        font-size: 20px;
        line-height: 24px;

        width: 80%;
        height: 38px;

        color: $text-subtle-color;

        &:focus {
            background-color: $secondary-color;
            box-shadow: inset 0 0 0 2px $primary-hover-color;
        }
    }

    &--modal-description {
        width: 85%;
        font-weight: 500;

        margin-left: 40px;
        margin-top: 10px;

        background-color: #A1BDD914;
        height: auto;

        &:focus {
            background-color: $secondary-color;
            box-shadow: inset 0 0 0 2px $primary-hover-color;
        }
    }
}

.link {
    position: absolute;
    right: 30px;
    bottom: 30px;
    padding: 20px;
    border-radius: 100px;
    background-color: $bg-dark-color;
    text-decoration: none;

    color: $text-subtle-color;

    &:hover {
        opacity: .9;
    }
}

// Utility classes
.spacer {
    visibility: hidden;
    width: 10px;
}

.me-3 {
    margin-right: 10px;
}

.row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.actions {
    display: flex;
    align-items: center;
    gap: .5em;

    margin-top: 8px;
    width: 100%;

    &--modal {
        margin-left: 40px;
    }
}

// Component styles
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 6px;
    background-color: $navbar-bg-color;
    padding: 12px;
    height: 50px;

    &__logo {
        font-size: 22px;
        color: $text-subtle-color;
    }

    &__brand-name {
        font-size: 1.5em;
        font-weight: bold;
        color: $text-subtle-color;
        user-select: none;
    }
}

.container {
    background: linear-gradient(160deg, #073778 0%, #0C4F9B 30%, #0093E9 50%, #80D0C7 100%);

    width: 100vw;
    height: calc(100vh - 50px);

    overflow-y: hidden;
    overflow-x: scroll;

    scrollbar-color: $bg-dark-color transparent;

    &::-webkit-scrollbar {
        display: block;
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: $bg-dark-color;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        opacity: 0;
    }
}

.board {
    display: flex;
    align-items: start;

    gap: 15px;
    padding: 10px;

    min-width: 100vw;
    width: fit-content;
}

.column {
    font-size: 13px;
    line-height: 20px;

    background-color: $bg-dark-color;
    border-radius: 15px;

    width: 275px;
    padding: 10px;

    &__header {
        display: flex;
        justify-content: space-between;
        margin: 8px;
    }

    &__title {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 10px;
        color: $text-color;
        user-select: none;
    }

    &__content {
        max-height: 82vh;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    &__footer {
        display: flex;
        align-items: center;
        gap: .5em;

        margin-top: 8px;
        width: 100%;
    }

    &--empty {
        background-color: transparent;
        padding: 0;
    }
}

.card {
    background-color: $secondary-color;
    border-radius: 8px;
    padding: 10px;
    margin: 5px 0;
    scroll-margin: 8px;
    cursor: pointer;

    &__title {
        font-size: 14px;
        color: $text-subtle-color;
        user-select: none;
    }
}

.icon {
    color: $text-color;

    &--trash:hover {
        color: #FF5555;
        cursor: pointer;
    }

    &--title {
        font-size: 20px;
        margin-right: 12px;
    }

    &--description {
        font-size: 16px;
    }

    &--cancel {
        padding: 8px 10px;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
            background-color: $ghost-hover-color;
        }
    }

    &--close {
        position: absolute;
        top: 15px;
        right: 15px;

        border-radius: 100%;
        padding: 10px 13px;

        cursor: pointer;

        &:hover {
            background-color: $ghost-hover-color;
        }
    }
}

.modal {
    position: relative;
    background-color: #323940;
    padding: 15px 20px;
    height: 100%;

    &__description {
        margin-top: 24px;
        color: $text-subtle-color;
        user-select: none;

        label {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
        }
    }
}
